<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-本地推送.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35CF07A11C48CB9700D3879F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF07BA1C48CB9700D3879F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF07C51C48CB9700D3879F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
