<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-音乐播放器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35309FBC1C4BB3BF00AEA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35309FD51C4BB3BF00AEA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35309FE01C4BB3BF00AEA5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
