<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-QQ动态-静态单元格.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3534B2271BE844190022513D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3534B2401BE844190022513D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3534B24B1BE844190022513D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
