<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dataTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3542BEFA1C3A6364004A60DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3542BF131C3A6364004A60DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3542BF1E1C3A6364004A60DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
