<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>09-导航控制器的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3531B7A61BF9C05B008B1A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3531B7BF1BF9C05B008B1A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3531B7CA1BF9C05B008B1A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
