<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-UITabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>351C58EC1C02D4B400AF2C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>351C59051C02D4B400AF2C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>351C59101C02D4B500AF2C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
