<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>键盘处理-练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>350F528C1BF41C060075CD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350F52A51BF41C060075CD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350F52B01BF41C060075CD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
